@using DonationTrackingSystem.Data.Models.Campaigns
@model CampaignDetailsViewModel

<h1>@Model.CampaignName</h1>
<p>@Model.CampaignDescription</p>
<p>Goal Amount: @Model.GoalAmount.ToString("C")</p>
<p>Total Donated: @Model.TotalDonatedAmount.ToString("C")</p>
<p>Created by (Email): @Model.CampaignCreatorName</p>

<h2>Top Donations</h2>
@if (Model.TopDonations.Any())
{
    <table class="table compact-table">
        <thead>
            <tr>
                <th>Donator Email</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var donation in Model.TopDonations)
            {
                <tr>
                    <td>@donation.DonatorName</td>
                    <td>@donation.Amount.ToString("C")</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No top donations yet.</p>
}
<br />
@if (User?.Identity?.IsAuthenticated == true && Model.CampaignCreatorName == User.Identity.Name)
{
    <a asp-controller="Campaigns" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-controller="Campaigns" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
    <p></p>
}

<a asp-controller="Campaigns" asp-action="DownloadDonations" asp-route-id="@Model.Id" class="btn btn-primary">Download All Donations</a>

<a asp-action="All" class="btn btn-primary">Back to All Campaigns</a>